# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

.svn
*.user
*.suo
/HollywoodReport/FinancialNews
/HollywoodReport/InstapaperFormatterService
/HollywoodReport/SelesGames.Nag
/HollywoodReport/SportsNews
/HollywoodReport/TechNewsNow
/HollywoodReport/GameNews
/HollywoodReport/GameNews.Free
/HollywoodReport/HollywoodReport
/HollywoodReport/HollywoodsHottest
Thumbs.db
/original WP8 silverlight toolkit from codeplex
/Windows Phone 8/PackageLoader
/Windows Phone 8/packages
/Windows Phone 8/TestPhoneApp
